@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
header{    
    padding: 10px;
    font-family: Montserrat;
    height: 100px;
    background: #2c3e50;
}
header p {
    font-size: 20px;
    line-height: 80px;
    float: left;
    color: azure;
}
header a{
    color: white;
}
.nav_bar{
    float: right;
    color:azure;
}
.nav_bar ul li{
    display: inline-block;
}
.clear{
    clear: both;
}

.about_me{
    padding: 70px;
    text-align: center;
    background: #80cbc4;
    height: 600px;
}
.about_me img{
    height: 200px;
    border-radius: 50%;
}
.about_me p{
    font-family: Montserrat;
    font-size: 20px;
    padding: 20px;
}
.positions{
    height: 400px;
}
.positions .sidebar{
    height: inherit;
    width: 400px;
    background: #ecf0f1;
    float:left;
}
.positions .main_content {
    height: inherit;
    display: none;
    padding: 40px;
    text-align: center;
    margin-left: 25%;
    background: white;
}
.positions .main_content p{
    padding: 20px;
}
.positions .main_content img{
    height: 200px;
    width: 500px;
}
footer{
    font-family: Montserrat;
    color: white;
    height: 190px;
    padding: 30px;
    background: #00796b;
}
footer div{
    display: inline-block;    
}
footer a{
    color: black;
}
.contacts{
    float:right;
}
.positions .sidebar{
    display: flex;
    flex-direction: column;    
    justify-content: center;
}
.menu{
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-self: center;
    width: inherit;
}
.menu_block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33.33%;
    width: inherit;
    border: 20px solid white;
}
.social{
    position: relative;
}